<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Beer Recommendeder</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Beer Recommendeder">
	    <meta name="author" content="E.K. Itoku">

        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.4/css/bootstrap.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.4/js/bootstrap.min.js') }}"></script>

        <!-- Bootflat -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootflat-2.0.4/css/bootflat.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='bootflat-2.0.4/js/icheck.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootflat-2.0.4/js/jquery.fs.selecter.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootflat-2.0.4/js/jquery.fs.stepper.min.js') }}"></script>

        <!-- Token Input -->
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-tokeninput-1.6.0/js/jquery.tokeninput.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-tokeninput-1.6.0/css/token-input.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-tokeninput-1.6.0/css/token-input-facebook.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-tokeninput-1.6.0/css/token-input-mac.css') }}">

    </head>
    
    <body>

        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href= "{{ url_for('main.index') }}" >Beer Recommender</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    {% set navigation_bar =
                        [
                            ('/recommend',    'recommend',    'Recommend'),
                            ('/analysis',     'analysis',     'Analysis')
                        ]
                    %}

                    {% for href, id, caption in navigation_bar %}
                        <li {% if id == active_page %} class="active" {% endif %} >
                            <a href= "{{ href|e }}" > {{ caption|e }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

    </body>
    
</html>
