{% extends "base.html" %}
{% block body %}



<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">What is your favorite beer?</h1>
                <p class="lead">
                    There are more than 291,913 beers in the world. Find out a new beer you will like using
                    a recommendation engine based on user-based collaborative-filtering approach.
                </p>


                <p class="lead">
                  <a href="" class="btn btn-lg btn-default">Try Recommender Now</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
