{% extends "base.html" %}
{% block body %}

<div class="col-md-8">
    <div class="jumbotron">
        <div id="carousel-beer" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-beer" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-beer" data-slide-to="1"></li>
                <li data-target="#carousel-beer" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active"><img src="https://s3-us-west-2.amazonaws.com/beerrec/img/beers3.jpg"></div>
                <div class="item"><img src="https://s3-us-west-2.amazonaws.com/beerrec/img/beers1.jpg"></div>
                <div class="item"><img src="https://s3-us-west-2.amazonaws.com/beerrec/img/beers2.jpg"></div>
            </div>
            <a class="left carousel-control" href="#carousel-beer" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-beer" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="jumbotron-contents">
            <h1 class="cover-heading">What is your new favorite beer?</h1>
            <p>
                I always wonder what beer I should get at a bar. There are way too many many choices for a casual beer
                drinker! I usually know just a few out of dozens of choices there. Thus I decided to build a beer
                recommendation engine based on online user reviews, which were scraped from one of the most popular beer
                review sites. Running some multithreaded Python web crawlers on an Ubuntu server for a few days, pretty
                much the entire site was scraped and the data was temporary stored into a MongoDB, including 6,899,254 reviews,
                319,483 beer data, and 362,602 user info. After significant data munging, these raw data was transferred
                to PostgreSQL for machine learning and analysis purposes.
            </p>

            <h2>Machine Learning</h2>
            <p>
                This beer recommendation engine is built on user-based collaborative-filtering approach. Since
                the matrix was sparse, cosine similarity was suitable to calculate distance between beers. Then using
                this pre-computed matrix, it recommends new beers.
            </p>

            <form action="/recommend">
                <button class="btn btn-warning" type="submit">Try!</button>
            </form>

            <h2>Data Analysis</h2>
            <p>
                Discover more about beers! There are 6,899,254 user reviews in the database and these data tells a lot
                of stories.
            </p>
            <form action="/analysis">
                <button class="btn btn-warning" type="submit">Try!</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
